html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    margin: 20px;
}

ul {
    list-style-type: none;
}

.float-right {
    float: right;
}

.flex-grid {
    display: flex;
    columns: 3;

    .card-layout {
        background: #ebecf0;
        width: 100%;

        .ui-widget-header {
            background: none;
            border: 0;
        }
    }

    .card-layout +.card-layout {
        margin-left: 10px;
    }
}

.list {
    margin: 0;
    padding: 10px;
    min-height: 90%;

    .card {
        margin-bottom: 10px;
        min-height: 80px;
    }
}

.ui-dialog  {
    left: 20% !important;
    top: 10% !important;
    width: 60% !important;
}

textarea {
    display: block;
    margin-bottom: 10px;
    resize: none;
    width: 100%;
}

button:hover,
.card:hover {
    cursor: pointer;
}